/* HIDE RADIO */
.smiley { 
  position: absolute;
  display: none;
  top: 1000px;
  left: 1000px;
  background-color: #eee;
}

/* IMAGE STYLES */
.smiley + img {
  cursor: pointer;
  width: 50px; 
  margin: 0;
  padding: 0;
}

/* CHECKED STYLES */
.smiley:checked + img {
  outline: 2px solid #000;
}