body {
    font-family: 'Aleo';
}

.col-12 {
    padding-bottom: 30px !important;
}

nav {
    background-color: $blue;

    h1 {
        color: $white;
        font-weight: bold;
        font-size: 30px;
    }

    #navbarDropdown {
        color: $white;
        font-weight: bold;
    }
}

.card-header {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.bg-light {
    background-color: $blue !important;
}
